html
{
}

body
{
    font-size: 18px;
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 32px;
}

a
{
    color: deeppink;
}

header
{
    position: static;
    top: 0;
    padding: 10px;
    margin: 0;
    background-color: lightpink;
    font-size: 25px;
}

.homepage_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-gap: 50px;
    margin: 5%;
}

.image_grid2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-gap: 50px;
    margin: 5%;
}

.blog_link
{
    text-align: center;
    display: block;
    margin: 10px;
}

.link_image
{
    width: 100%;
    height: auto;
}

.blog_image
{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.blog_title
{
    font-size: 32px;
    text-align: center;
    color: deeppink;
}

.blog_text
{
    margin: 25px 10%;
}

.code_block
{
    margin: 10px 10%;
    text-align: left;
    color: black;
    background-color: lightgray;
    border: 1px solid deeppink;
    padding: 10px;
}

.about_me
{
    color: #000000;
    margin: 25px;
}

.about_me_links
{
    color: #000000;
    margin: 25px 10%;
    text-align: left;
    border: 1px black;
}